<!DOCTYPE html >
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installements Calculator</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/angular/angular-csp.css">
    <script src="./node_modules/angular/angular.js" defer></script>
    <script src="./services/installements.js" defer></script>
    <script src="./controllers/installementFormCtrl.js" defer></script>
    <script src="./src/index.js" defer></script>
</head>
<body>
   <div class="container my-5" ng-controller="InstallementCtrl"> 
       <form >
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
            <input type="text" class="form-control" ng-model="installement.loan.amount">
          </div>
          <div class="form-floating">
          <select class="form-select mb-3" id="select" aria-label="Default select example" ng-model="installement.loan.months">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
            <option value="60">60</option>
          </select>
          <label for="select">Select months</label>
        </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Interest</span>
            <input type="text" class="form-control" ng-model="installement.loan.interest">
          </div>
          <button class="btn btn-primary" ng-click="installement.printData(installement.loan)">Licz</button>
       </form>
       <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Lp.</th>
              <th scope="col">Installement</th>
              <th scope="col">Rest of Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in installement.calculatedInstallement">
              <td> {{$index+1}}</td>
              <td> {{item.installement}}</td>
              <td> {{item.restOfAmmout}}</td>
            </tr>
          </tbody>
        </table>
       </div>
   </div>
</body>
</html>